In [3]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\aaditya rana\anaconda3\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\aaditya rana\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Customers").getOrCreate()

In [2]:
from pyspark.ml.regression import LinearRegression

In [4]:
dataset=spark.read.csv("Customer.csv",inferSchema=True,header=True)

In [7]:
dataset

DataFrame[index: int, Order ID: string, Cust ID: int, Gender: string, Age: int, Age Group: string, Date: string, Month: string, Status: string, Channel : string, SKU: string, Category: string, Size: string, Qty: int, currency: string, Amount: int, ship-city: string, ship-state: string, ship-postal-code: int, ship-country: string, B2B: boolean]

In [8]:
dataset.show()

+-----+-------------------+-------+------+---+---------+----------+-----+---------+--------+--------------------+-------------+----+---+--------+------+-------------------+--------------+----------------+------------+-----+
|index|           Order ID|Cust ID|Gender|Age|Age Group|      Date|Month|   Status|Channel |                 SKU|     Category|Size|Qty|currency|Amount|          ship-city|    ship-state|ship-postal-code|ship-country|  B2B|
+-----+-------------------+-------+------+---+---------+----------+-----+---------+--------+--------------------+-------------+----+---+--------+------+-------------------+--------------+----------------+------------+-----+
|    1|171-1029312-3038738|1029312| Women| 44|    Adult|04-12-2022|  Dec|Delivered|  Myntra|JNE1233-BLUE-KR-0...|        kurta| XXL|  1|     INR|   376|             MOHALI|        PUNJAB|          140301|          IN|false|
|    2|405-2183842-2225946|2183842| Women| 29| Teenager|04-12-2022|  Dec|Delivered|    Ajio|      SET414-KR-NP-L|          Set|   L|  1|     INR|   376|           GURUGRAM|       HARYANA|          122002|          IN|false|
|    3|171-1641533-8921966|1641533| Women| 67|   Senior|04-12-2022|  Dec|Delivered|  Myntra|      SET261-KR-PP-S|          Set|   S|  1|     INR|   376|            KOLKATA|   WEST BENGAL|          700029|          IN|false|
|    4|404-7490807-6300351|7490807| Women| 20| Teenager|04-12-2022|  Dec|Delivered|  Amazon|      SET110-KR-PP-M|          Set|   M|  1|     INR|   376|          THANJAVUR|    TAMIL NADU|          613007|          IN|false|
|    5|403-9293516-4577154|9293516| Women| 62|   Senior|04-12-2022|  Dec|Delivered|  Myntra|    JNE2294-KR-A-XXL|        kurta| XXL|  1|     INR|   376|           GURUGRAM|       HARYANA|          122001|          IN|false|
|    6|407-1298130-0368305|1298130|   Men| 49|    Adult|04-12-2022|  Dec|Delivered|Flipkart|      JNE3797-KR-XXL|Western Dress| XXL|  1|     INR|   376|SANGLI MIRAJ KUPWAD|   MAHARASHTRA|          416436|          IN|false|
|    7|407-1298130-0368305|1298130| Women| 23| Teenager|04-12-2022|  Dec|Delivered|  Meesho|      JNE3801-KR-XXL|        kurta| XXL|  1|     INR|   376|          BENGALURU|     KARNATAKA|          560029|          IN|false|
|    8|171-5561216-3398711|5561216| Women| 70|   Senior|04-12-2022|  Dec|Delivered|  Others|        JNE3405-KR-M|        kurta|   M|  1|     INR|   376|           GURUGRAM|       HARYANA|          122001|          IN|false|
|    9|408-2935263-2935550|2935263| Women| 75|   Senior|04-12-2022|  Dec|Delivered|  Amazon|     JNE3474-KR-E-XL|        kurta|  XL|  1|     INR|   376|          BENGALURU|     KARNATAKA|          562149|          IN|false|
|   10|404-2648970-9042715|2648970| Women| 43|    Adult|04-12-2022|  Dec|Delivered|  Myntra|        JNE3466-KR-L|        kurta|   L|  1|     INR|   376|         VIJAYAWADA|ANDHRA PRADESH|          520002|          IN|false|
|   11|404-2648970-9042715|2648970| Women| 76|   Senior|04-12-2022|  Dec|Delivered|  Amazon|        JNE3795-KR-S|        kurta|   S|  1|     INR|   517| THIRUVANANTHAPURAM|        KERALA|          695018|          IN|false|
|   12|404-2648970-9042715|2648970| Women| 45|    Adult|04-12-2022|  Dec|Delivered|  Myntra|          J0181-TP-M|          Top|   M|  1|     INR|   399|           ARAKONAM|    TAMIL NADU|          631003|          IN|false|
|   13|408-0265357-4939534| 265357| Women| 18| Teenager|04-12-2022|  Dec|Delivered|  Amazon|     SET217-KR-PP-XL|          Set|  XL|  1|     INR|   786|           GUWAHATI|         ASSAM|          781017|          IN|false|
|   14|403-9268874-7296313|9268874|   Men| 44|    Adult|04-12-2022|  Dec|Delivered|  Myntra|      SET185-KR-NP-M|          Set|   M|  1|     INR|   911|          BENGALURU|     KARNATAKA|          562125|          IN|false|
|   15|407-0442660-2736366| 442660| Women| 52|   Senior|04-12-2022|  Dec|Delivered|  Amazon|     SET333-KR-DPT-M|          Set|   M|  1|     INR|   967|          HYDERABAD|     TELANGANA|          500098|          IN|false|
|   16|406-7482261-1657136|7482261| Women| 18| Teenager|04-12-2022|  Dec|Delivered|   Nalli|          J0124-TP-L|          Top|   L|  1|     INR|   523|          NEW DELHI|         DELHI|          110062|          IN|false|
|   17|407-7039962-7080347|7039962|   Men| 30|    Adult|04-12-2022|  Dec|Delivered|  Meesho|    SET304-KR-DPT-XL|          Set|  XL|  1|     INR|  1115|        Bhubaneswar|        ODISHA|          751022|          IN|false|
|   18|407-3422488-7373923|3422488| Women| 48|    Adult|04-12-2022|  Dec|Delivered|  Others|     SET184-KR-PP-XS|          Set|  XS|  1|     INR|   563|             SIROHI|     RAJASTHAN|          307001|          IN|false|
|   19|171-8974687-6745940|8974687|   Men| 24| Teenager|04-12-2022|  Dec|Delivered|  Myntra|        J0161-DR-XXL|Western Dress| XXL|  1|     INR|   473|             MUMBAI|   MAHARASHTRA|          400097|          IN|false|
|   20|406-0244536-2177175| 244536| Women| 46|    Adult|04-12-2022|  Dec|Delivered|  Amazon|      SET233-KR-PP-M|          Set|   M|  1|     INR|   545|           AMRITSAR|        PUNJAB|          143001|          IN|false|
+-----+-------------------+-------+------+---+---------+----------+-----+---------+--------+--------------------+-------------+----+---+--------+------+-------------------+--------------+----------------+------------+-----+
only showing top 20 rows

In [10]:
dataset.printSchema()

root
 |-- index: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Cust ID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Age Group: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Channel : string (nullable = true)
 |-- SKU: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Qty: integer (nullable = true)
 |-- currency: string (nullable = true)
 |-- Amount: integer (nullable = true)
 |-- ship-city: string (nullable = true)
 |-- ship-state: string (nullable = true)
 |-- ship-postal-code: integer (nullable = true)
 |-- ship-country: string (nullable = true)
 |-- B2B: boolean (nullable = true)

In [12]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [18]:
featureassembler=VectorAssembler(inputCols=["Qty","Age","Amount"],outputCol="Independent Features")

In [22]:
output=featureassembler.transform(dataset)

In [23]:
output.show()

+-----+-------------------+-------+------+---+---------+----------+-----+---------+--------+--------------------+-------------+----+---+--------+------+-------------------+--------------+----------------+------------+-----+--------------------+
|index|           Order ID|Cust ID|Gender|Age|Age Group|      Date|Month|   Status|Channel |                 SKU|     Category|Size|Qty|currency|Amount|          ship-city|    ship-state|ship-postal-code|ship-country|  B2B|Independent Features|
+-----+-------------------+-------+------+---+---------+----------+-----+---------+--------+--------------------+-------------+----+---+--------+------+-------------------+--------------+----------------+------------+-----+--------------------+
|    1|171-1029312-3038738|1029312| Women| 44|    Adult|04-12-2022|  Dec|Delivered|  Myntra|JNE1233-BLUE-KR-0...|        kurta| XXL|  1|     INR|   376|             MOHALI|        PUNJAB|          140301|          IN|false|    [1.0,44.0,376.0]|
|    2|405-2183842-2225946|2183842| Women| 29| Teenager|04-12-2022|  Dec|Delivered|    Ajio|      SET414-KR-NP-L|          Set|   L|  1|     INR|   376|           GURUGRAM|       HARYANA|          122002|          IN|false|    [1.0,29.0,376.0]|
|    3|171-1641533-8921966|1641533| Women| 67|   Senior|04-12-2022|  Dec|Delivered|  Myntra|      SET261-KR-PP-S|          Set|   S|  1|     INR|   376|            KOLKATA|   WEST BENGAL|          700029|          IN|false|    [1.0,67.0,376.0]|
|    4|404-7490807-6300351|7490807| Women| 20| Teenager|04-12-2022|  Dec|Delivered|  Amazon|      SET110-KR-PP-M|          Set|   M|  1|     INR|   376|          THANJAVUR|    TAMIL NADU|          613007|          IN|false|    [1.0,20.0,376.0]|
|    5|403-9293516-4577154|9293516| Women| 62|   Senior|04-12-2022|  Dec|Delivered|  Myntra|    JNE2294-KR-A-XXL|        kurta| XXL|  1|     INR|   376|           GURUGRAM|       HARYANA|          122001|          IN|false|    [1.0,62.0,376.0]|
|    6|407-1298130-0368305|1298130|   Men| 49|    Adult|04-12-2022|  Dec|Delivered|Flipkart|      JNE3797-KR-XXL|Western Dress| XXL|  1|     INR|   376|SANGLI MIRAJ KUPWAD|   MAHARASHTRA|          416436|          IN|false|    [1.0,49.0,376.0]|
|    7|407-1298130-0368305|1298130| Women| 23| Teenager|04-12-2022|  Dec|Delivered|  Meesho|      JNE3801-KR-XXL|        kurta| XXL|  1|     INR|   376|          BENGALURU|     KARNATAKA|          560029|          IN|false|    [1.0,23.0,376.0]|
|    8|171-5561216-3398711|5561216| Women| 70|   Senior|04-12-2022|  Dec|Delivered|  Others|        JNE3405-KR-M|        kurta|   M|  1|     INR|   376|           GURUGRAM|       HARYANA|          122001|          IN|false|    [1.0,70.0,376.0]|
|    9|408-2935263-2935550|2935263| Women| 75|   Senior|04-12-2022|  Dec|Delivered|  Amazon|     JNE3474-KR-E-XL|        kurta|  XL|  1|     INR|   376|          BENGALURU|     KARNATAKA|          562149|          IN|false|    [1.0,75.0,376.0]|
|   10|404-2648970-9042715|2648970| Women| 43|    Adult|04-12-2022|  Dec|Delivered|  Myntra|        JNE3466-KR-L|        kurta|   L|  1|     INR|   376|         VIJAYAWADA|ANDHRA PRADESH|          520002|          IN|false|    [1.0,43.0,376.0]|
|   11|404-2648970-9042715|2648970| Women| 76|   Senior|04-12-2022|  Dec|Delivered|  Amazon|        JNE3795-KR-S|        kurta|   S|  1|     INR|   517| THIRUVANANTHAPURAM|        KERALA|          695018|          IN|false|    [1.0,76.0,517.0]|
|   12|404-2648970-9042715|2648970| Women| 45|    Adult|04-12-2022|  Dec|Delivered|  Myntra|          J0181-TP-M|          Top|   M|  1|     INR|   399|           ARAKONAM|    TAMIL NADU|          631003|          IN|false|    [1.0,45.0,399.0]|
|   13|408-0265357-4939534| 265357| Women| 18| Teenager|04-12-2022|  Dec|Delivered|  Amazon|     SET217-KR-PP-XL|          Set|  XL|  1|     INR|   786|           GUWAHATI|         ASSAM|          781017|          IN|false|    [1.0,18.0,786.0]|
|   14|403-9268874-7296313|9268874|   Men| 44|    Adult|04-12-2022|  Dec|Delivered|  Myntra|      SET185-KR-NP-M|          Set|   M|  1|     INR|   911|          BENGALURU|     KARNATAKA|          562125|          IN|false|    [1.0,44.0,911.0]|
|   15|407-0442660-2736366| 442660| Women| 52|   Senior|04-12-2022|  Dec|Delivered|  Amazon|     SET333-KR-DPT-M|          Set|   M|  1|     INR|   967|          HYDERABAD|     TELANGANA|          500098|          IN|false|    [1.0,52.0,967.0]|
|   16|406-7482261-1657136|7482261| Women| 18| Teenager|04-12-2022|  Dec|Delivered|   Nalli|          J0124-TP-L|          Top|   L|  1|     INR|   523|          NEW DELHI|         DELHI|          110062|          IN|false|    [1.0,18.0,523.0]|
|   17|407-7039962-7080347|7039962|   Men| 30|    Adult|04-12-2022|  Dec|Delivered|  Meesho|    SET304-KR-DPT-XL|          Set|  XL|  1|     INR|  1115|        Bhubaneswar|        ODISHA|          751022|          IN|false|   [1.0,30.0,1115.0]|
|   18|407-3422488-7373923|3422488| Women| 48|    Adult|04-12-2022|  Dec|Delivered|  Others|     SET184-KR-PP-XS|          Set|  XS|  1|     INR|   563|             SIROHI|     RAJASTHAN|          307001|          IN|false|    [1.0,48.0,563.0]|
|   19|171-8974687-6745940|8974687|   Men| 24| Teenager|04-12-2022|  Dec|Delivered|  Myntra|        J0161-DR-XXL|Western Dress| XXL|  1|     INR|   473|             MUMBAI|   MAHARASHTRA|          400097|          IN|false|    [1.0,24.0,473.0]|
|   20|406-0244536-2177175| 244536| Women| 46|    Adult|04-12-2022|  Dec|Delivered|  Amazon|      SET233-KR-PP-M|          Set|   M|  1|     INR|   545|           AMRITSAR|        PUNJAB|          143001|          IN|false|    [1.0,46.0,545.0]|
+-----+-------------------+-------+------+---+---------+----------+-----+---------+--------+--------------------+-------------+----+---+--------+------+-------------------+--------------+----------------+------------+-----+--------------------+
only showing top 20 rows

In [24]:
output.select("Independent Features").show()

+--------------------+
|Independent Features|
+--------------------+
|    [1.0,44.0,376.0]|
|    [1.0,29.0,376.0]|
|    [1.0,67.0,376.0]|
|    [1.0,20.0,376.0]|
|    [1.0,62.0,376.0]|
|    [1.0,49.0,376.0]|
|    [1.0,23.0,376.0]|
|    [1.0,70.0,376.0]|
|    [1.0,75.0,376.0]|
|    [1.0,43.0,376.0]|
|    [1.0,76.0,517.0]|
|    [1.0,45.0,399.0]|
|    [1.0,18.0,786.0]|
|    [1.0,44.0,911.0]|
|    [1.0,52.0,967.0]|
|    [1.0,18.0,523.0]|
|   [1.0,30.0,1115.0]|
|    [1.0,48.0,563.0]|
|    [1.0,24.0,473.0]|
|    [1.0,46.0,545.0]|
+--------------------+
only showing top 20 rows

In [25]:
finalized_data=output.select("Independent Features","Amount")

In [26]:
finalized_data.show()

+--------------------+------+
|Independent Features|Amount|
+--------------------+------+
|    [1.0,44.0,376.0]|   376|
|    [1.0,29.0,376.0]|   376|
|    [1.0,67.0,376.0]|   376|
|    [1.0,20.0,376.0]|   376|
|    [1.0,62.0,376.0]|   376|
|    [1.0,49.0,376.0]|   376|
|    [1.0,23.0,376.0]|   376|
|    [1.0,70.0,376.0]|   376|
|    [1.0,75.0,376.0]|   376|
|    [1.0,43.0,376.0]|   376|
|    [1.0,76.0,517.0]|   517|
|    [1.0,45.0,399.0]|   399|
|    [1.0,18.0,786.0]|   786|
|    [1.0,44.0,911.0]|   911|
|    [1.0,52.0,967.0]|   967|
|    [1.0,18.0,523.0]|   523|
|   [1.0,30.0,1115.0]|  1115|
|    [1.0,48.0,563.0]|   563|
|    [1.0,24.0,473.0]|   473|
|    [1.0,46.0,545.0]|   545|
+--------------------+------+
only showing top 20 rows

In [32]:
train_data,test_data=finalized_data.randomSplit([0.75,0.25])

In [35]:
regressor=LinearRegression(featuresCol="Independent Features",labelCol="Amount")
regressor=regressor.fit(train_data)

In [37]:
regressor.coefficients

DenseVector([0.0, 0.0, 1.0])

In [38]:
regressor.intercept

2.8301090837239876e-14

In [41]:
pred_results=regressor.evaluate(test_data)

In [45]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Amount|        prediction|
+--------------------+------+------------------+
|    [1.0,18.0,291.0]|   291|291.00000000000006|
|    [1.0,18.0,292.0]|   292|292.00000000000006|
|    [1.0,18.0,301.0]|   301|301.00000000000006|
|    [1.0,18.0,301.0]|   301|301.00000000000006|
|    [1.0,18.0,301.0]|   301|301.00000000000006|
|    [1.0,18.0,307.0]|   307|307.00000000000006|
|    [1.0,18.0,314.0]|   314|314.00000000000006|
|    [1.0,18.0,318.0]|   318|318.00000000000006|
|    [1.0,18.0,323.0]|   323|323.00000000000006|
|    [1.0,18.0,329.0]|   329|329.00000000000006|
|    [1.0,18.0,329.0]|   329|329.00000000000006|
|    [1.0,18.0,330.0]|   330|330.00000000000006|
|    [1.0,18.0,345.0]|   345|345.00000000000006|
|    [1.0,18.0,345.0]|   345|345.00000000000006|
|    [1.0,18.0,346.0]|   346|346.00000000000006|
|    [1.0,18.0,349.0]|   349|349.00000000000006|
|    [1.0,18.0,353.0]|   353|353.00000000000006|
|    [1.0,18.0,362.0]|   362|362.00000000000006|
|    [1.0,18.0,362.0]|   362|362.00000000000006|
|    [1.0,18.0,376.0]|   376|376.00000000000006|
+--------------------+------+------------------+
only showing top 20 rows